{% extends 'base.html.twig' %}

{% block title %}{{ 'tag.create.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'tag.create.heading'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}

    <button type="submit" class="btn btn-primary">{{ 'tag.create.submit_button'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
