{# templates/foods/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ 'tag.list.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'tag.list.heading'|trans }}</h1>

    {% if tags is not empty %}
        <ul>
            {% for tag in tags %}
                <li style="margin-bottom: 1em;">
                    <div>
                        <strong>{{ tag.name }}</strong>
                    </div>
                    <div>
                        <a href="{{ path('food_by_tag', { tagName: tag.name }) }}">{{ 'tag.list.view_dishes'|trans }}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ 'tag.list.no_tags'|trans }}</p>
    {% endif %}
{% endblock %}
