{% extends 'base.html.twig' %}

{% block title %}Modifier un plat{% endblock %}

{% block body %}
    <div class="max-w-2xl mx-auto mt-16 bg-[#3b3b3e] p-8 rounded-xl shadow-lg">
        <h1 class="text-3xl font-bold text-white text-center mb-8">Modifier {{ foodName }}</h1>

        <!-- Formulaire -->
        {{ form_start(form, { attr: { class: 'space-y-8' } }) }}

        <!-- Champ Nom -->
        <div class="flex flex-col">
            <label for="{{ form.name.vars.id }}" class="text-white font-semibold mb-2">Nom</label>
            {{ form_widget(form.name, { attr: { class: 'w-full p-4 mt-1 bg-zinc-800 text-white border border-gray-600 rounded-lg shadow-sm focus:ring-2 focus:ring-violet-600 focus:outline-none' } }) }}
            {% if form_errors(form.name) %}
                <p class="text-red-500 text-sm mt-1">{{ form_errors(form.name) }}</p>
            {% endif %}
        </div>

        <!-- Champ Origine -->
        <div class="flex flex-col">
            <label for="{{ form.origin.vars.id }}" class="text-white font-semibold mb-2">Origine</label>
            {{ form_widget(form.origin, { attr: { class: 'w-full p-4 mt-1 bg-zinc-800 text-white border border-gray-600 rounded-lg shadow-sm focus:ring-2 focus:ring-violet-600 focus:outline-none' } }) }}
            {% if form_errors(form.origin) %}
                <p class="text-red-500 text-sm mt-1">{{ form_errors(form.origin) }}</p>
            {% endif %}
        </div>

        <!-- Bouton Submit -->
        <button
                type="submit"
                class="w-full bg-violet-600 hover:bg-violet-700 text-white font-bold py-3 px-6 rounded-lg shadow-md transition duration-300"
        >
            Créer
        </button>

        {{ form_end(form) }}
    </div>
{% endblock %}
