{% extends 'base.html.twig' %}
{% block title %}Foods by tag: {{ tagName }}{% endblock %}

{% block body %}
    <h1>Liste des Foods ayant le tag : {{ tagName }}</h1>

    {% if foods is not empty %}
        <div class="flex justify-center">
            <ul class="w-1/2 bg-[#3b3b3e] p-6 rounded-lg shadow-lg">
                {% for food in foods %}
                    <li class="mb-4 p-4 border-b flex justify-between items-center">
                        <div>
                            <strong class="text-white">{{ food.name }}</strong>
                            {% if food.origin is not null %}
                                <span class="text-white">— Origine : {{ food.origin }}</span>
                                {% if food.flag is defined and food.flag is not null %}
                                    <img src="{{ food.flag }}" alt="Drapeau de {{ food.origin }}" class="inline-block w-6 h-4 ml-2">
                                {% endif %}
                            {% endif %}
                        </div>
                        <a href="{{ path('food_review_show', { id: food.id }) }}" class="text-blue-400 hover:text-blue-300 font-semibold">
                            Voir les reviews
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>Aucun Food n'est associé à ce tag.</p>
    {% endif %}
{% endblock %}
